<%= stylesheet_link_tag "devise" %>

<div class='login-section'>
  <h2 class='header'>Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  label: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  placeholder: 'Email' %>
    </div>              
    <div class="form-inputs-2">
      <%= f.input :password,
                  label: false,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "current-password" },
                  placeholder: 'Password' %>
    </div>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

    <div class="form-actions">
      <%= f.button :submit, "Log in" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
