<%= stylesheet_link_tag "postshow" %>

<div class='open-post-flex'>
  <div class='open-post'>
    <h3><%= @post.title %> by <%= @post.author.name %></h3>
    <p class='amount'>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
    <p class='text'><%= @post.text %></p>
  </div>
  <% @post.comments.includes(:user).each do |comment| %>
    <div class='open-comment'><strong><%= comment.user.name %> :</strong> <%= comment.text %></div>
  <% end %>
</div>
